<%- include("../../Layouts/header") %>

<div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h2 class="page-title">Thêm loại sản phẩm</h2>
                <div class="ms-auto text-end">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/admin">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Thêm loại sản phẩm</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form class="form-horizontal" action="/admin/categories/create" method="POST">
                        <div class="card-body">
                            <h4 class="card-title">Nhập thông tin loại sản phẩm</h4>
                            <div class="form-group">
                                <label for="categoryName">Tên loại sản phẩm*</label>
                                <input type="text" class="form-control" id="categoryName" name="categoryName" required placeholder="Nhập tên loại sản phẩm...">
                            </div>
                            <div class="form-group">
                                <label for="status">Trạng thái*</label>
                                <select class="select2 form-select shadow-none" style="width: 100%; height:36px;" id="status" name="status" required>
                                    <option value="" selected disabled>Vui lòng chọn trạng thái...</option>
                                    <option value="1">Hiển thị</option>
                                    <option value="0">Ẩn</option>
                                </select>
                            </div>
                        </div>
                        <div class="border-top">
                            <div class="card-body">
                                <button type="reset" class="btn btn-danger text-white">Làm lại</button>
                                <button type="submit" class="btn btn-primary">Thêm</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../../Layouts/footer") %>
